* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --e: #0012FB0C;
    --bbg: #0039F920;
    --bg: #003FFD52;
    --c: #1C6BFE8D;
    --a: #0062FF;
    --d: #85B6FF;
    --rbg: #F1000008;
    --ra: #ef0000;
    --rc: #FD00004D;
    --rd: #FF4232BC;
    --gbg:#00FB000C;
    --ga: #2EFE29F7;
    --gc: #25FD1B4F;
    --gd: #20FF1A77;
    --wa: #FFFFFF73;
    --wbg: #ffffff13;
    --f-size: 20px ;
    --f-sz-i: 30px ;
    --background-url: url(banner2.webp);
    --font: 'Minecraft';
    --bbrr: 30px;
    --br: 2px solid var(--); /* active border bebas mau warna apa*/
}

@font-face{
    font-family: 'Minecraft';
    src: url(../fonts/Minecraft.otf);
}

body {
    background: url(../images/background.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    font-family: 'Minecraft';
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section {
    backdrop-filter: blur(12px);
    margin: 1rem;
    border: 2px solid var(--c);
    border-radius: 1rem;
}
.container {
    text-align: center;
    padding: 1rem 0.75rem;
}

.card-content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-list {
    color: #fff;
    text-decoration: none;
    background: var(--bbg);
    display: grid;
    align-content: space-between;
    border: 2px solid var(--a);
    padding: 1rem;
    border-radius: 0.75rem;
    transition-duration: .3s;
    margin-bottom: 1rem;
    
    h3 {
        margin-top: 1rem;
    }
    
    &:hover {
        transform: scale(1.1);
        background: var(--c);
    }
}

.btn-credit {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-family: 'Minecraft';
    border: 2px solid #00FFFF;
    color: #A2FBFA;
    border-radius: 999px;
    background: #00F6FB30;
    transition-duration: .3s;
    text-decoration: none;
    &:hover{
        background: #00FDFD4F;
    }
}

.credit-content {
    background: #00F6FB30;
    padding: 1rem 0.75rem;
    color: #00F5F5;
}

.credit-link {
    color: #38bdf8;
    text-decoration: none;
}

.credit-link:hover {
    text-decoration: underline;
}

.thanks-text {
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
}

.form-content {
    display: grid;
    text-align: left;
}

.ip-input {
    margin: 0.25rem 0 ;
    padding: 0.5rem;
    font-family: 'Minecraft';
    font-size: 1rem;
    border-radius: 999px;
    border: 2px solid var(--a);
    background: var(--bbg);
    color: var(--white);
    
}

.btn-content {
    display: flex;
    margin-top: 1rem ;
    a {
        transition: .3s;
        cursor: pointer;
        text-align: center;
        width: 100%;
        padding: 0.5rem;
        color: #EF0000 ;
        font-size: 1rem;
        text-decoration: none;
        border: 2px solid #ef0000;
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
        font-size: 1rem;
        background: #FC110031;
        &:hover {
            background: #FD251570;
        }
    }
    
    button {
        transition: .3s;
        cursor: pointer;
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem;
        color: #2EFE29;
        font-size: 1rem;
        background: none;
        border: none;
        font-family: 'Minecraft';
        background: #22FF111E;
        border: 2px solid #2EFE29F7;
        border-top-right-radius: 999px ;
        border-bottom-right-radius: 999px;
        &:hover {
            background: #32FD284F;
        }
    }
}


.output-content {
    max-width: 400px;
    padding: 1rem;
}